#join-table th{
text-align: center;
}
#join-table td{
text-align: center;
}
  #bigimg{
      width:1920px;
      height:350px;
  }
  #importh3{
    margin-top: 30px;
  }
#main{
     width: 1000px;
     height: 460px;
     margin: 20px auto;
}
